<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<!-- 한글 인코딩  페이지별 -->
	<filter> 
		<filter-name>characterEncodingFilter</filter-name>
		<!-- 자체적으로 주는 스프링프레임워크 필터 -->
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 서블릿 매핑-->
	<!-- initparam을 받지 않고 바로사용할수있는 이유는?  -->
	
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
		<!-- 바뀌면안됨 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>
				<!-- /WEB-INF/aop/aop-config.xml -->
				/WEB-INF/controller/ban-Controller.xml
				/WEB-INF/controller/bts-Controller.xml
				<!-- /WEB-INF/controller/bts-Chat.xml -->
				/WEB-INF/controller/spring-servlet.xml
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
		<!-- /* 이거안됨  만약 모든페이지 처리라면 /해줘야함 아니라면
		만약 다른거라면 *.do 이런식 -->
	
<!-- 	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/member/main.jsp</location>
	</error-page> -->

</web-app>